{% extends 'base.html' %}
{% load static %}

{% block title %} Contact {% endblock title %}

{% block body %}


<!--<div class="container">-->
<!--<img src="https://images.unsplash.com/photo-1528747045269-390fe33c19f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="test img">-->
<!--<h3 class="heading">Contact Us</h3>-->
<!--</div>-->
 <div class="carousel-item active" data-bs-interval="10000">
     <img src="https://images.unsplash.com/photo-1528747045269-390fe33c19f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100 carousel-img" alt="Chocolate Ice Cream">
         <div class="carousel-caption d-none d-md-block">
             <h5>Contact Us</h5>
<!--             <p>Indulge in our rich chocolate swirl fantasy.</p>-->
         </div>
 </div>

<hr>
<hr>
<hr>

<div class="form">
    <form method="POST">
  {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputName" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputName" required>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="text" name="phone" class="form-control" id="exampleInputNumber" required>
  </div>

  <div class="mb-3">
    <label class="form-comment-label">Comment</label>
    <textarea name="comment" class="form-control" id="exampleComment" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

</div>
<style>
    .heading{
        position:absolute;
        top:40%;
        color:white;
        left:40%;
         opacity:.74;
    }
    .carousel-item{
        display:flex;
        justify-content:center;
        align-item:center;
        margin:0;
        padding:0;

        width:100%;
<!--        background-image:url("https://images.unsplash.com/photo-1528747045269-390fe33c19f2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");-->


    }
    .carousel-img{
    height: 180px;
        object-fit: cover;
       width: 100%;}

   .form{
    padding:10%;}
</style>

{% endblock body %}
